<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Название страницы</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</head>
<body>
<div>
    <div>
        <p>Cypher</p>
        <h6>algorithm:</h6>
        <select id="algo">
            <option value="2">vigener [ru]</option>
            <option value="0">column [en]</option>
            <option value="1">decimation [en]</option>
        </select>
        <h6>text:</h6>
        <input style="width: 50%;" type="text" id="text">
        <h6>or load from file:</h6>
        <input style="width: 50%;" type="file" id="text_file">
        <h6>key:</h6>
        <input style="width: 50%;" type="text" id="key">
        <h6>cyphered text:</h6>
        <input style="width: 50%;" type="text" id="out">
        <h6>or load from file:</h6>
        <input style="width: 50%;" type="file" id="out_file">
        <h6>error text:</h6>
        <input style="width: 50%;" type="text" id="error">
    </div>
</div>
</body>
</html> 
