.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    width: 70%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    background: #252F48;
}

.table_dark td {
    color: white;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    color: orange;
    font-size: 17px;
}
